<h1>Edit Customer</h1>

<form action="/customers/<%= @customer.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="first_name" value=" <%= @customer.first_name %> ">
  <input type="text" name="last_name" value=" <%= @customer.last_name %> "> 
  <input type="text" name="email" value=" <%= @customer.email %> ">
  <input type="text" name="notes" value=" <%= @customer.notes %> ">
  <input type="submit" name="Submit">
</form>
